.main {
    font-size: 30px;
    height: 100%;
    width: 90%;
    text-align: left;
    margin-left: 5vh;
    margin-right: 5vh;
}

.Logout {
    justify-self: center;
    text-align: center;
    height: 100px;
    width: 150px;
    font-size: 50px;
}